.App {
    text-align: center;
    display: absolute;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    margin: 2px;
}

.aboutstyle{
    text-align: center;
    font-size: 32px;
    display: absolute;
    align-items: center;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
    margin: 20px;
}

.designButton {
    background: none;
    border: none;
    color: #000000;
    text-decoration: none;
    padding: 4px 22px;
    margin: 10px;
    border-top: 20px;
    font-size: 13px;
    box-shadow: 2px 3px 3px 0 #aaa9a9, -2px -2px 3px white;
    border-radius: 15px;
  }

  .designButton:focus {
    outline: 0;
  }
  
  .designButton:hover {
    background: #ececec;
    box-shadow: 2px 3px 3px #aaa9a9 inset, -2px -2px 5px rgb(250, 250, 250) inset;
  }
  
  .designButton:active {
    color: #ffffff;
    background: #999999;
    box-shadow: 0px 0px 0px, 0px 0px 0px;
  }
  
.myCard {
    border-radius: 15px;
    background: #f5f5f5;
    height: 300px;
    font-size: 10px;
    width: 200px;
    box-shadow: 3.9px 4px 6.4px #aaa9a9, -4px -3px 6px #ffffffec;
    /* padding-top: 10px; */
  
  }

.imgViewer{
    height: 50%; 
    width: 100%; 
    object-fit: contain;
  }
  

.overlay{
    text-align: center;
    position: fixed ;
    pointer-events: none;
    top: 32%;
    right: 43%;
    max-height: 300px;
    max-width: 300px; 
    z-index: 1;
}

.linkMap {
    background: none;
    border: none;
    font-size: 60px;
    color: #031010;
    font-family: 'Syne Mono', monospace;
    color: #777777;
    text-decoration: none;
  }

 
.linkMap:hover{
    color: #000000;
}
